<div #contatoSection class="py-8 flex flex-col gap-6 items-center justify-center">
  <div class="flex items-center justify-center gap-6 size-10">
    <img src="assets/whatsapp.svg" alt="whatapp icon" (click)="goToPage('whatsapp')"
    class="cursor-pointer  hover:-translate-y-1 transition-all duration-500">
    <img src="assets/instagram.svg" alt="instagram icon" (click)="goToPage('instagram')"
    class="cursor-pointer  hover:-translate-y-1 transition-all duration-500">
    <img src="assets/linkedin.svg" alt="linkedin icon" (click)="goToPage('linkedin')"
    class="cursor-pointer  hover:-translate-y-1 transition-all duration-500">
    <img src="assets/github.svg" alt="github icon" (click)="goToPage('github')"
    class="cursor-pointer  hover:-translate-y-1 transition-all duration-500">
  </div>
  <div class="flex flex-col lg:flex-row font-extralight  text-secondary text-3xl sm:gap-4">
    <span>Marcos Silva de Oliveira</span>
    <span class="hidden lg:block">-</span>
    <a href="mailto:marcosxrp04@gmail.com"
    class=" hover:-translate-y-1 transition-all duration-500">marcosxrp04&#64;gmail.com</a>
  </div>

</div>
