<div class=" absolute top-0 w-screen h-20 flex items-center justify-between px-3 lg:px-8 text-secondary">
  <div class=" z-0 absolute left-0 size-full bg-black/30 backdrop-blur-lg"></div>
  <!--My logo-->
  <div (click)="goToHome()"
  class=" z-10 flex gap-4 cursor-pointer">
    <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7426 0.00626535C22.1651 -0.183837 26.4163 3.98415 29.7822 8.14175C33.1262 12.2723 35.728 17.1401 34.8158 22.3304C33.8456 27.8506 30.3219 32.9549 25.0388 35.1302C20 37.205 14.4559 35.2372 9.64766 32.6934C5.18608 30.333 1.19002 26.8506 0.200012 21.9891C-0.762201 17.2641 1.9051 12.8982 4.82606 9.01667C7.95625 4.85706 11.4614 0.191416 16.7426 0.00626535Z" fill="url(#paint0_linear_2_8)" fill-opacity="0.5"/>
      <defs>
      <linearGradient id="paint0_linear_2_8" x1="-3.08993e-08" y1="4.34483" x2="29.8473" y2="36.2062" gradientUnits="userSpaceOnUse">
      <stop stop-color="#102C57"/>
      <stop offset="1" stop-color="white"/>
      </linearGradient>
      </defs>
    </svg>
    <div class="flex text-2xl gap-1 hover:-translate-y-1 transition-all duration-500">
      <h2 class="font-bold">Marcos</h2>
      <span class="font-extralight">Silva</span>
    </div>
  </div>

  <!--Button to change the menu visibility-->
  <button
  (click)="changeMenuVisibility()"
  class="z-10 lg:hidden cursor-pointer">
    <img #menuLogo src="assets/menuLogo.svg" alt="menuLogo">
    <img
    #closeLogo
    class="hidden" src="assets/closeLogo.svg" alt="close logo">
  </button>
  <!--My nav-->
  <nav
  #nav
  class="bg-black backdrop-blur-lg  bg-opacity-30 shadow-lg shadow-black lg:shadow-none lg:bg-transparent hidden lg:block absolute top-20 left-0 lg:static lg:w-auto w-full">
    <ul class="flex items-center gap-6 text-2xl font-medium capitalize flex-col lg:flex-row">
      @for (page of pages(); track $index) {
        <button tabindex="0" (click)="goToSection(page)"
        class="size-full px-2 text-center text-nowrap cursor-pointer py-6 hover:-translate-y-1 transition-all duration-500">{{ page }}</button>
        @if ($index !== 3) {
          <img
          class="hidden lg:block"
          src="assets/dotSvg.svg" alt="dot svg">

        }
      }
    </ul>
  </nav>

</div>
