<section #heroSection class="px-3 lg:px-8 h-screen w-screen grid grid-cols-5 pt-48 ">
  <img
    class="h-[100vh] lg:h-[95vh] object-cover absolute z-0 right-0 bottom-0 lg:top-auto lg:bottom-0 opacity-30 lg:opacity-100"
    src="assets/myself.png" alt="teste">

  <!--The texts here-->
  <div class="z-30 flex flex-col justify-between col-span-5 lg:col-span-3">
    <div>
      <h3 class="text-secondary font-medium text-2xl sm:text-3xl lg:text-4xl">Olá eu sou:</h3>
      <h1 class="text-fourth font-extrabold text-6xl sm:text-7xl lg:text-8xl">Marcos Silva</h1>
      <p class="z-30 text-secondary text-xl sm:text-2xl xl:text-[32px] max-w-[715px]">O desenvolvedor <span>FrontEnd</span> que irá trazer para a realidade os mais incríveis e desafiadores projetos, com excelência e criatividade, transformando suas idéias em uma experiência única para o usuário</p>
    </div>
    <!--The button here-->
    <button
    (click)="goToTrabalhos()"
    class="z-30 self-center mb-4 sm:mb-16 w-fit px-8 py-3 cursor-pointer text-main bg-third text-3xl font-semibold rounded-lg hover:scale-105 transition-all duration-500">Saiba mais</button>
  </div>




  <div class=" invisible sm:visible absolute z-10 bottom-0 right-0 border-t-[120px] border-t-transparent border-r-[100vw] border-r-fourth">
  </div>
  </section>
